



.button {
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	color: #FFFFFF;
	padding: 16px 40px;
	border-radius: 4px;
	letter-spacing: 0.5px;
	line-height: 1.25;
	font-weight: 700;
   display: inline-block;
	transition: all 0.5s ease 0s;
	display: flex;
	max-height: 52px;
	position: relative;
	flex: 0 0 auto;
}

.button:hover {
	background: linear-gradient(55.95deg, #c53732 0%, #c95715 100%);
}

.button--border {
	color: rgba(255, 63, 58, 1);
	padding: 15px 40px;
	border-radius: 4px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 1.25;
	border: 1px solid rgba(255, 63, 58, 1);
	display: inline-block;
	transition: all 0.8s ease 0s;
}

.button--border:hover {

	color: #FFFFFF;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}
